# Port du serveur (par défaut 3000)
PORT=3000

# URL de base pour les liens d'email (utilisée pour la vérification d'email)
BASE_URL='http://localhost:3000'

# URL de connexion à la base de données PostgreSQL
DB_URL=postgres://qualiextra:mdp@localhost:5432/nomDeLaBase

# Configuration du JWT
ACCESS_TOKEN_SECRET=tonSecretJWT
ACCESS_TOKEN_EXPIRES_IN=4h

# Configuration de l'email (Mailtrap utilisé ici pour l'exemple)
MAILTRAP_USER="tonEmailMailtrap"
MAILTRAP_PASS="tonMotDePasseMailtrap"