# Port sur lequel le serveur Express va tourner
PORT=3000

# URL de la base de données PostgreSQL (format Sequelize)
DB_URL=postgres://username:password@localhost:5432/nom_de_la_db

# Clé secrète pour signer les tokens JWT
ACCESS_TOKEN_SECRET=your_secret_key_here

# Durée de validité du token (format accepté par JWT, ex : 4h, 1d)
ACCESS_TOKEN_EXPIRES_IN=4h
